.box-img,
.box-text{
  display: inline-block;
}

body {
  margin: 0;
  padding: 20px;
}

.box {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.text {
  text-align: left;
}


.pict {
  width: 30%;
  margin-left: 3%;
}

.pict img {
  width: 100%;
  height:auto;
}
