---
---

@import "{{ site.theme }}";
.page-header{
    background-image:linear-gradient(to right, #0090b2 0%, #22373A 20%, #22373A 80%, #E94709 100%); 
};
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color:#22373A
}

// メインコンテンツのテキスト色
.main-content {
  color: #22373A;
}

.main-content a{
    color: #111B1D;
}
.main-content a:hover{
    color: #22373A;
    text-decoration: underline;
}
.main-content a:visited{
    color: #111B1D;
}


table{
    width: 100%;
    border-collapse: collapse;
}

table tr{
    border-bottom: solid 2px white;
}

table tr:last-child{
border-bottom: none;
}

table th{
position: relative;
text-align: left;
width: 30%;
background-color: #22373A;
color: white;
text-align: center;
padding: 10px 0;
}